{% extends "rest_framework/base.html" %}
{% load i18n %}


{% block bootstrap_theme %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/flatly/bootstrap.css" type="text/css">
{% endblock %}


{% block branding %}
    <a class='navbar-brand' rel="nofollow" href='/'>
        Algorithms
    </a>
{% endblock %}

{% block userlinks %}
                {% if user.is_authenticated %}
                    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                        {% csrf_token %}
                        <button type="submit">{% translate "Log out" %}</button>
                    </form>
                {% else %}
                    <form id="login-form" method="post" action="{% url 'admin:login' %}">
                        {% csrf_token %}
                        <button type="submit">Log in</button>
                    </form>
                {% endif %}
              {% endblock %}

{% block bootstrap_navbar_variant %}bg-primary" data-bs-theme="dark{% endblock %}